<<<<<<< HEAD
.invalid {
  border: 1px solid red !important;
}
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 2px;
  background: rgb(170, 170, 170);
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
=======
>>>>>>> 33e65a2 (Registration page, captcha and integrated Api in Registration Page)
